.my-form {
    width: 82%;

    &--form {
        width: 100%;
        display: flex;
        flex-direction: column;
        
        &--button {

            & button {
                background-color: rgba(92, 184, 92, 1);
            }
        }
    }
}